# STEP 1 — Data Loading, Understanding, Cleaning & Feature Engineering (CORE FOUNDATION)


## Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

## Load Data

In [ ]:
df = pd.read_csv("../data/marketing_campaign_data.csv")
data_dict = pd.read_csv("../data/marketing_data_dictionary.csv")

## Basic Data Inspection

In [4]:
df.shape
df.head()
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   56000 non-null  int64
 1   Year_Birth           56000 non-null  int64
 2   Education            56000 non-null  object
 3   Marital_Status       56000 non-null  object
 4   Income               56000 non-null  float64
 5   Kidhome              56000 non-null  int64
 6   Teenhome             56000 non-null  int64
 7   Dt_Customer          56000 non-null  object
 8   Recency              56000 non-null  int64
 9   MntWines             56000 non-null  int64
 10  MntFruits            56000 non-null  int64
 11  MntMeatProducts      56000 non-null  int64
 12  MntFishProducts      56000 non-null  int64
 13  MntSweetProducts     56000 non-null  int64
 14  MntGoldProds         56000 non-null  int64
 15  NumDealsPurchases    56000 non-null  int64
 16  NumWebPurchases      56000 non-null  int64
 17  NumCatalogPurchases  56000 non-null  int64
 18  NumStorePurchases    56000 non-null  int64
 19  NumWebVisitsMonth    56000 non-null  int64
 20  AcceptedCmp3         56000 non-null  int64
 21  AcceptedCmp4         56000 non-null  int64
 22  AcceptedCmp5         56000 non-null  int64
 23  AcceptedCmp1         56000 non-null  int64
 24  AcceptedCmp2         56000 non-null  int64
 25  Response             56000 non-null  int64
 26  Complain             56000 non-null  int64
 27  Country              56000 non-null  object
dtypes: float64(1), int64(23), object(4)
memory usage: 12.0+ MB

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
count,5.600000e+04,56000.000000,56000,56000,56000.000000,56000.000000,56000.000000,56000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000
unique,NaN,NaN,5,8,NaN,NaN,NaN,700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
top,NaN,NaN,Graduation,Together,NaN,NaN,NaN,2014-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spain
freq,NaN,NaN,22741,17703,NaN,NaN,NaN,4922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16703
mean,8.389352e+06,1971.666696,NaN,NaN,57252.189521,0.539911,0.362143,NaN,63.221107,246.981482,16.152661,268.294018,51.097732,22.423054,35.385625,2.171964,4.248893,2.110750,4.706411,5.170107,0.062393,0.056821,0.045661,0.134446,0.014411,0.147589,0.007625,NaN
std,4.844638e+06,12.211066,NaN,NaN,34307.247999,0.521349,0.510567,NaN,31.157066,358.569481,33.931463,342.165712,73.226860,41.563862,50.637150,1.399719,2.904484,2.357824,2.896366,2.555911,0.241870,0.231503,0.208750,0.341134,0.119178,0.354696,0.086988,NaN
min,3.600000e+01,1936.000000,NaN,NaN,1730.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.187372e+06,1963.000000,NaN,NaN,28252.025000,0.000000,0.000000,NaN,35.000000,0.000000,0.000000,42.000000,3.000000,0.000000,2.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,8.383784e+06,1973.000000,NaN,NaN,58838.550000,1.000000,0.000000,NaN,71.000000,64.000000,0.000000,107.000000,13.000000,3.000000,16.000000,2.000000,4.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,1.258576e+07,1981.000000,NaN,NaN,86930.650000,1.000000,1.000000,NaN,93.000000,353.000000,15.000000,363.000000,71.000000,23.000000,47.000000,3.000000,6.000000,3.000000,6.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
max,1.677716e+07,1996.000000,NaN,NaN,258027.500000,2.000000,2.000000,NaN,99.000000,1493.000000,199.000000,1341.000000,259.000000,263.000000,359.000000,15.000000,15.000000,14.000000,13.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN

## Check Missing Values

In [5]:
df.isnull().sum().sort_values(ascending=False)

ID                     0
Year_Birth             0
Complain               0
Response               0
AcceptedCmp2           0
AcceptedCmp1           0
AcceptedCmp5           0
AcceptedCmp4           0
AcceptedCmp3           0
NumWebVisitsMonth      0
NumStorePurchases      0
NumCatalogPurchases    0
NumWebPurchases        0
NumDealsPurchases      0
MntGoldProds           0
MntSweetProducts       0
MntFishProducts        0
MntMeatProducts        0
MntFruits              0
MntWines               0
Recency                0
Dt_Customer            0
Teenhome               0
Kidhome                0
Income                 0
Marital_Status         0
Education              0
Country                0
dtype: int64

## Fix Data Types

In [ ]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

## Feature Engineering

### 1️⃣ Age

In [7]:
CURRENT_YEAR = datetime.now().year
df['Age'] = CURRENT_YEAR - df['Year_Birth']

### 2️⃣ Customer Tenure (in days)

In [8]:
df['Customer_Tenure_Days'] = (datetime.now() - df['Dt_Customer']).dt.days

### 3️⃣ Total Spend (Sum of all Mnt* columns)

In [9]:
spend_cols = [
    'MntWines', 'MntFruits', 'MntMeatProducts',
    'MntFishProducts', 'MntSweetProducts', 'MntGoldProds'
]

df['Total_Spend'] = df[spend_cols].sum(axis=1)

### 4️⃣ Total Purchases (All Channels)

In [10]:
purchase_cols = [
    'NumDealsPurchases', 'NumWebPurchases',
    'NumCatalogPurchases', 'NumStorePurchases'
]

df['Total_Purchases'] = df[purchase_cols].sum(axis=1)

### 5️⃣ Children (Family Indicator)

In [11]:
df['Children'] = df['Kidhome'] + df['Teenhome']

## Handle Outliers

In [12]:
df = df[(df['Age'] >= 18) & (df['Age'] <= 90)]

## Handle extreme income values

In [13]:
income_cap = df['Income'].quantile(0.99)
df.loc[df['Income'] > income_cap, 'Income'] = income_cap

## Final Data Validation

In [14]:
df[['Age', 'Income', 'Total_Spend', 'Customer_Tenure_Days']].describe()
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                  0
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Response                0
Complain                0
Country                 0
Age                     0
Customer_Tenure_Days    0
Total_Spend             0
Total_Purchases         0
Children                0
dtype: int64

## Save Cleaned Dataset

In [16]:
df.to_csv("../data/marketing_campaign_data_cleaned.csv", index=False)